* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #fcfcfc;
    --pop: #0541b1;
}

/*body*/

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

/*header section*/

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--pop);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--secondary);
    padding: 8px;
    border: 5px solid var(--pop);
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background: var(--pop);
    color: var(--primary);
    border-radius: 10px;
}

/*hero section*/

.hero {
    background-image: url("../images/bg.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 300px;
}

.hero .quote {
    font-size: 36px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: rgb(8, 8, 8);
}

.hero .quote #quote-text {
    font-size: 46px;
}

/*title class styling (about me, my projects, contact me)*/

.title {
    border-right: 5px solid var(--pop);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 38px;
}

/*about me section*/

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

/*my projects styling*/

.my-projects {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.my-projects h2 {
    color: var(--secondary);
}

.projects-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}

.on-demand-crm {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../images/placeimg_1.jpg");
}

.privacy-protectors {
    background-image: url("../images/placeimg_2.gif");
    background-position: 50% 15%;
}

.suspect {
    background-image: url("../images/placeimg_3.jpg");
    background-position: 60% 50%;
}

.project4 {
    background-image: url("../images/placeimg_4.jpg");
}

.project5 {
    background-image: url("../images/placeimg_5.jpg");
}

.project-label {
    background-color: lightgray;;
    color: var(--primary);
    padding: 10px;
}

/*contact me/footer section*/

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    margin-bottom: 25px;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 28px;
    font-weight: bolder;
}

footer ul li {
    font-weight: bold;
}

footer ul li a {
    text-decoration: none;
    color: var(--primary);
    padding: 8px;
    font-weight: bold;
}

footer ul li a:hover {
    background: var(--pop);
    color: var(--secondary);
    border-radius: 15px;
}
